body {
  background-color: white;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  font-size: 45px;
  margin: 0 auto;
  text-align: center;
}

td {
  border: solid red;
  /*letter-spacing: 15px;*/
  padding: 10px;
  position: relative;
  transition-duration: 0.5s;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}


