body {
  background-color: white;
  margin-top: 30px;
}

table {
  text-align: center;
  font-size: 45px;
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  border: solid red;
  letter-spacing: 15px;
  box-sizing: content-box;
  width: 10%;
  padding: 10px;
  position: relative;
  transition-duration: 0.5s;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}


